/* index.css - PULITO */
/* Resetta i margini di default */
*, *::before, *::after {
  box-sizing: border-box;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}