.admin-sidebar {
  color: white;
  height: 100% !important;
  padding: 1rem !important;
  position: sticky !important;
  

}

.admin-sidebar h4 {
  margin-bottom: 1rem;
}

.admin-sidebar .nav-link {
  color: white;
  padding: 0.5rem 0;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.admin-sidebar .nav-link:hover,
.admin-sidebar .nav-link.active {
  color: #0dcaf0;
  font-weight: bold;
}