.sidebar-admin {
  background-color: #111;
  color: white;
  min-height: 100vh;
  padding: 1rem;
}

.sidebar-admin h4 {
  margin-bottom: 1rem;
}

.sidebar-admin .nav-link {
  color: white;
  padding: 0.5rem 0;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-admin .nav-link:hover,
.sidebar-admin .nav-link.active {
  color: #0dcaf0;
  font-weight: bold;
}